
body{
    margin:0 auto;
    margin-top: 10px;

  
}
#Margen{
    border:solid 2px black;
}
#Contenedor{
    display:flex;
    justify-content:space-between;

}

.Cuadro{
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    line-height:200px;
}
.Cuadro:nth-child(1){
    background-color:red;
   

}
.Cuadro:nth-child(2){
    background-color:blue;

}
.Cuadro:nth-child(3){
    background-color:green;
}